@import "tailwindcss";

:root {
  --primary: #f5f7fa;
  --secondary: #1a2940;
  --accent: #00c9a7;
}

.bg-light {
  background: var(--primary);
}
.bg-dark {
  background: var(--secondary);
}
.bg-accent {
  background: var(--accent);
}
.text-light {
  color: var(--primary);
}
.text-dark {
  color: var(--secondary);
}
.text-accent {
  color: var(--accent);
}
.border-dark {
  border-color: var(--secondary);
}
.hover\:text-accent:hover {
  color: var(--accent);
}
